@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-border: 0 0 0px 4px var(--color-primary-100);

  --color-primary-50: #e8f1f5;
  --color-primary-100: #c5dae3;
  --color-primary-200: #9dc0cf;
  --color-primary-300: #74a6bc;
  --color-primary-400: #4a8da8;
  --color-primary-500: #1d546d;
  --color-primary-600: #174460;
  --color-primary-700: #123552;
  --color-primary-800: #0c2644;
  --color-primary-900: #061e29;
  --color-primary: var(--color-primary-500);

  --color-secondary-50: #eef4f4;
  --color-secondary-100: #d4e7e7;
  --color-secondary-200: #afd3d4;
  --color-secondary-300: #8abfc0;
  --color-secondary-400: #5f9598;
  --color-secondary-500: #4d7e81;
  --color-secondary-600: #3c676a;
  --color-secondary-700: #2b5053;
  --color-secondary-800: #1a393c;
  --color-secondary-900: #0a2224;
  --color-secondary: var(--color-secondary-400);

  --color-white: #f3f4f4;
  --color-black: #061e29;

  --color-background: var(--color-primary-50);
  --color-foreground: var(--color-primary-900);
}

@layer base {
  .dark {
    --color-primary-50: #061e29;
    --color-primary-100: #0a2a38;
    --color-primary-200: #0f3847;
    --color-primary-300: #144a5e;
    --color-primary-400: #1d546d;
    --color-primary-500: #5f9598;
    --color-primary-600: #80b0b2;
    --color-primary-700: #a3c8ca;
    --color-primary-800: #c6e0e1;
    --color-primary-900: #f3f4f4;
    --color-primary: var(--color-primary-500);

    --color-secondary-50: #0a2224;
    --color-secondary-100: #1a393c;
    --color-secondary-200: #2b5053;
    --color-secondary-300: #3c676a;
    --color-secondary-400: #5f9598;
    --color-secondary-500: #8abfc0;
    --color-secondary-600: #afd3d4;
    --color-secondary-700: #d4e7e7;
    --color-secondary-800: #eef4f4;
    --color-secondary-900: #f6fafa;
    --color-secondary: var(--color-secondary-400);

    --color-white: #0f3847;
    --color-black: #f3f4f4;

    --color-background: #061e29;
    --color-foreground: #f3f4f4;
  }
}
